<html>
  <head>
    <link rel="stylesheet" href="/css/reset.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
      <h1>Mail Merge</h1>
      <form action="/mail" method="post" >
        <section class="left">
          <p>Enter names / emails (one per line)</p>
          <textarea name="people" rows="8" cols="40" placeholder="Joe, Jones, joe@example.com"></textarea>
        </section>
        <section class="right">
        <div class='enter'>
            <p>
            Enter the text.  The following substitutions are valid:
          </p>
          <ul>
            <li>{first}</li>
            <li>{last}</li>
            <li>{email}</li>
          </ul>
        </div>
          <input type="text" name="subject" value="" placeholder="Subject">
          <textarea name="contnt" rows="8" cols="40"></textarea>
          <button type="submit" name="preview" value="Preview">Preview</button>
        </section>
    </form>


  </body>
</html>
